<div class="row agenda-row" ng-app="ddd" ng-controller="agendaCtrl">
    <h2>Agenda</h2>
    
    <p class="blurb text-center">
        Click on a session to display more detail
    </p>

    <table class="responsive">
        <thead>
            <tr>
                <th>
                    <strong>&nbsp;</strong>
                    &nbsp;
                </th>
                <th class="green-stream">
                    <strong>Green</strong>
                    K309
                </th>
                <th class="blue-stream">
                    <strong>Blue</strong>
                    B214
                </th>
                <th class="red-stream">
                    <strong>Red</strong>
                    B215
                </th>
                    
                <th class="orange-stream">
                    <strong>Orange</strong>
                    B218
                </th>

                <th class="yellow-stream">
                    <strong>Yellow</strong>
                    K213
                </th>

                <th class="purple-stream">
                    <strong>Purple</strong>
                    K211
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="breadth-row">
                <td class="time">08:00</td>
                <td colspan="6" class="breadth">
                    Registration
                </td>
            </tr>
   
            <tr class="breadth-row">
                <td class="time">08:45</td>
                <td colspan="6" class="breadth">
                    <strong>Welcome and house keeping</strong><br/>
                </td>
            </tr>
            
            <tr class="key-row">
                <td class="time">09:00</td>
                <td colspan="6" class="breadth session" data-session-id="keynote" ng-click="showSession('keynote')">
                    <strong>Keynote - The Future is Awesome (and what you can do about it)</strong><br />
                    <em>Paul Fenwick</em>
                </td>
            </tr>
                
            <tr class="breadth-row">
                <td class="time">09:45</td>
                <td colspan="6" class="breadth">
                    <strong>Morning tea</strong><br/>
                </td>
            </tr>

            <tr class="presentation-row">
                <td class="time">10:00</td>
                <td class="session green-stream" data-session-id="1497f72a-48b8-4844-bd8a-bb3dc988bd5f" ng-click="showSession('1497f72a-48b8-4844-bd8a-bb3dc988bd5f')">
                    <strong>Recapping C# 6 and a first look into C# 7</strong><br />
                    <em>Pratik Khasnabis</em>
                </td>
                <td class="session blue-stream" data-session-id="64790a8b-9849-41f0-9a65-e46e4bea967a" ng-click="showSession('64790a8b-9849-41f0-9a65-e46e4bea967a')">
                    <strong>Thinking in React</strong><br />
                    <em>Mohammad Helmy</em>
                </td>
                <td class="session red-stream" data-session-id="9528c415-ceff-4977-ac7e-9733b5969b8f" ng-click="showSession('9528c415-ceff-4977-ac7e-9733b5969b8f')">
                    <strong>Building a conversational user interface</strong><br/>
                    <em>Norman Noble</em>
                </td>
                <td class="session orange-stream" data-session-id="391c8b8a-b4b2-4b9f-8dac-493440c427c3" ng-click="showSession('391c8b8a-b4b2-4b9f-8dac-493440c427c3')">
                    <strong>Random Failures of Architecture I Have Committed</strong><br />
                    <em>Colin Scott</em>
                </td>
                <td class="session yellow-stream" data-session-id="workshop-1" ng-click="showSession('workshop-1')">
                    <strong>Workshop: Getting in deep with React (Part 1)</strong><br/>
                    <em>Aaron Powell</em>
                </td>
                <td class="session purple-stream" data-session-id="workshop-3" ng-click="showSession('workshop-3')">
                    <strong>Workshop: ASP.NET Core From Scratch (Part 1)</strong><br />
                    <em>Shawn Wildermuth</em>
                </td>
            </tr>
            <tr class="breadth-row">
                <td class="time">10:45</td>
                <td colspan="6" class="breadth">
                    <strong>Change over</strong><br/>
                </td>
            </tr>

            <tr class="presentation-row">
                <td class="time">11:00</td>
                <td class="session green-stream" data-session-id="45418427-35c0-4192-bcb0-37762d3c23b8" ng-click="showSession('45418427-35c0-4192-bcb0-37762d3c23b8')">
                    <strong>Event Driven Cloud Computing: Azure Functions vs AWS Lambda</strong><br />
                    <em>Justin Yoo</em>
                </td>
                <td class="session blue-stream" data-session-id="0223d9e7-52b8-4ab0-b983-58d105865391" ng-click="showSession('0223d9e7-52b8-4ab0-b983-58d105865391')">
                    <strong>ESNext and TSNext</strong><br />
                    <em>Basarat Ali Syed</em>
                </td>
                <td class="session red-stream" data-session-id="0fda50d4-e4f0-486e-a7c9-86d533eb7119" ng-click="showSession('0fda50d4-e4f0-486e-a7c9-86d533eb7119')">
                    <strong>Deploying Straight to Production: A Guide to the Holy Grail</strong><br />
                    <em>Damian Brady</em>
                </td>
                <td class="session orange-stream" data-session-id="7bd812d4-a874-4d55-b6e2-ab45384dda53" ng-click="showSession('7bd812d4-a874-4d55-b6e2-ab45384dda53')">
                    <strong>Haskell in Production - Not just a theory</strong><br />
                    <em>Daniel Chambers</em>
                </td>
                <td class="session yellow-stream" data-session-id="workshop-1" ng-click="showSession('workshop-1')">
                    <strong>Workshop: Getting in deep with React (Part 2)</strong><br />
                    <em>Aaron Powell</em>
                </td>
                <td class="session purple-stream" data-session-id="workshop-3" ng-click="showSession('workshop-3')">
                    <strong>Workshop: ASP.NET Core From Scratch (Part 2)</strong><br />
                    <em>Shawn Wildermuth</em>
                </td>
            </tr>
            <tr class="breadth-row">
                <td class="time">11:45</td>
                <td colspan="6" class="breadth">
                    <strong>Change over</strong><br/>
                </td>
            </tr>

            <tr class="presentation-row">
                <td class="time">12:00</td>
                <td class="session green-stream" data-session-id="80403212-d020-4d50-805b-3f4a58b16710" ng-click="showSession('80403212-d020-4d50-805b-3f4a58b16710')">
                    <strong>The Actor/Model pattern in .NET: Akka.Net vs Orleans for the curious</strong><br />
                    <em>William Tulloch</em>
                </td>
                <td class="session blue-stream" data-session-id="40043a1a-3053-422c-b074-a9c2f3f124e0" ng-click="showSession('40043a1a-3053-422c-b074-a9c2f3f124e0')">
                    <strong>Redux, beyond React</strong><br />
                    <em>Aaron Powell</em>
                </td>
                <td class="session red-stream" data-session-id="68d2e438-694b-47d4-92d9-28ba910d45d7" ng-click="showSession('68d2e438-694b-47d4-92d9-28ba910d45d7')">
                    <strong>Thinking like a hacker</strong><br />
                    <em>Julian Berton</em>
                </td>
                <td class="session orange-stream" data-session-id="0cdcf3d0-60a5-4ed9-af25-846819ff26da" ng-click="showSession('0cdcf3d0-60a5-4ed9-af25-846819ff26da')">
                    <strong>"Native Containers on Windows 10 using docker" - a game changer for developers</strong><br />
                    <em>Jorge Arteiro</em>
                </td>
                <td class="session yellow-stream" data-session-id="f594d576-3418-433c-8a34-4ffe9b0c6fc0" ng-click="showSession('f594d576-3418-433c-8a34-4ffe9b0c6fc0')">
                    <strong>Making games 101</strong><br/>
                    <em>Igor Gorelik</em>
                </td>
                <td class="session purple-stream" data-session-id="f85d9187-5132-4c51-af7e-9e896585ad2d" ng-click="showSession('f85d9187-5132-4c51-af7e-9e896585ad2d')">
                    <strong>Quantum Computing fundamentals via OO</strong><br />
                    <em>Carl Belle</em>
                </td>
            </tr>

            <tr class="breadth-row">
                <td class="time">12:45</td>
                <td colspan="6" class="breadth">
                    Lunch
                </td>
            </tr>
            <tr class="presentation-row">
                <td class="time">13:45</td>
                <td class="session green-stream" data-session-id="02eb17b9-cf94-4742-b425-ac14fd7bbb4e" ng-click="showSession('02eb17b9-cf94-4742-b425-ac14fd7bbb4e')">
                    <strong>10 tools and libraries to enhance .NET Unit Testing</strong><br />
                    <em>David Gardiner</em>
                </td>
                <td class="session blue-stream" data-session-id="f2f89129-85bd-4805-b3ff-f23377c32443" ng-click="showSession('f2f89129-85bd-4805-b3ff-f23377c32443')">
                    <strong>Web Components and modern web frameworks</strong><br />
                    <em>Ahmad Atighechi</em>
                </td>
                <td class="session red-stream" data-session-id="18dae88d-468c-4cd6-b1d2-e726069f9ac3" ng-click="showSession('18dae88d-468c-4cd6-b1d2-e726069f9ac3')">
                    <strong>Soft skills for the developer</strong><br />
                    <em>Mahesh Krishnan</em>
                </td>
                <td class="session orange-stream" data-session-id="e4756a6d-0ed9-47f9-b09a-a13bbd21b5ed" ng-click="showSession('e4756a6d-0ed9-47f9-b09a-a13bbd21b5ed')">
                    <strong>A Swift Lap for .NET Devs</strong><br />
                    <em>JT</em>
                </td>
                <td class="session yellow-stream" data-session-id="workshop-2" ng-click="showSession('workshop-2')">
                    <strong>Workshop: Jumpstart into Virtual Actors with Orleans (Part 1)</strong><br />
                    <em>Alexey Shcherbak &amp; Reuben Bond</em>
                </td>
                <td class="session purple-stream" data-session-id="workshop-4" ng-click="showSession('workshop-4')">
                    <strong>Workshop: Introduction to Property Based Testing (using F#) (Part 1)</strong><br />
                    <em>Jeremy Clough</em>
                </td>
            </tr>
                
            <tr class="breadth-row">
                <td class="time">14:30</td>
                <td colspan="6" class="breadth">
                    Afternoon tea
                </td>
            </tr>

            <tr class="presentation-row">
                <td class="time">15:00</td>
                <td class="session green-stream" data-session-id="321d7f4c-fb64-448d-a048-8494ba12bf89" ng-click="showSession('321d7f4c-fb64-448d-a048-8494ba12bf89')">
                    <strong>Microservice Scars</strong><br />
                    <em>Abhaya Chauhan &amp; Joshua Toth</em>
                </td>
                <td class="session blue-stream" data-session-id="2538ffc5-e783-4165-9c7c-0df148f251a6" ng-click="showSession('2538ffc5-e783-4165-9c7c-0df148f251a6')">
                    <strong>Let's Build a Native Mobile App with NativeScript and Angular 2</strong><br />
                    <em>John Bristowe</em>
                </td>
                <td class="session red-stream" data-session-id="209edccc-efd1-4469-8493-a78e448b04e0" ng-click="showSession('209edccc-efd1-4469-8493-a78e448b04e0')">
                    <strong>Better APIs with GraphQL</strong><br />
                    <em>Josh Price</em>
                </td>
                <td class="session orange-stream" data-session-id="aacb8c41-19ff-4062-abc2-5798e9649663" ng-click="showSession('aacb8c41-19ff-4062-abc2-5798e9649663')">
                    <strong>Look Mom! No Servers!</strong><br />
                    <em>Erwin van der Koogh</em>
                </td>
                <td class="session yellow-stream" data-session-id="workshop-2" ng-click="showSession('workshop-2')">
                    <strong>Workshop: Jumpstart into Virtual Actors with Orleans (Part 2)</strong><br />
                    <em>Alexey Shcherbak &amp; Reuben Bond</em>
                </td>
                <td class="session purple-stream" data-session-id="workshop-4" ng-click="showSession('workshop-4')">
                    <strong>Workshop: Introduction to Property Based Testing (using F#) (Part 2)</strong><br />
                    <em>Jeremy Clough</em>
                </td>
            </tr>
                
            <tr class="breadth-row">
                <td class="time">15:45</td>
                <td colspan="6" class="breadth">
                    Changeover
                </td>
            </tr>

            <tr class="key-row">
                <td class="time">16:00</td>
                <td colspan="6" class="breadth session" data-session-id="locknote" ng-click="showSession('locknote')">
                    <strong>Locknote - Being a Better Developer: Learning Skills That Aren't On Your Resume</strong><br />
                    <em>Shawn Wildermuth</em>
                </td>
            </tr>
            
            <tr class="breadth-row">
                <td class="time">16:45</td>
                <td colspan="6" class="breadth">
                    Giveaways and wrap-up
                </td>
            </tr>
                
            <tr class="breadth-row">
                <td class="time">18:00</td>
                <td colspan="6" class="breadth">
                    Afterparty at 'The Orrong Hotel'
                </td>
            </tr>
        </tbody>
    </table>

    <div id="session-modal" class="reveal-modal" ng-show="ShowDetail">
        <h5>{{SessionTitle}}</h5>
        <p>{{PresenterName}}   
            <a href="http://www.twitter.com/{{PresenterTwitterAlias}}" target="_blank" ng-show="PresenterTwitterAlias!=null">@@{{PresenterTwitterAlias}}</a>
            <a href="http://{{PresenterWebsite}}" target="_blank" ng-show="PresenterWebsite!=null">{{PresenterWebsite}}</a>
        </p>
        
        <p ng-bind-html-unsafe="SessionAbstract" />
   
    </div>
</div>

@section optionalScripts
{
    @Scripts.Render("~/bundles/angular")
  
    <script src="~/Scripts/app/agendaCtrl.js"></script>
}