@using DevDevDev.Models
<div class="row">
    <div class="large-12 columns">
        <h4>FAQ</h4>
    </div>
    <div class="faq large-6 small-12 columns">
        <p>

            <strong>When and where?</strong><br />
            The event will be held on @EventConfig.EventDateDescription at Monash University Caulfield Campus with doors
            opening at 08:30 and ending 17:00 (ish). After the event is completed there will
            very likely drinks & food at a nearby venue TBC.
        </p>
        <p>
            <strong>How much is the event?</strong><br />
            $49. DDD Melbourne is a non profit event and any excess will be kept as part of a fund for future events/donated to charity.
        </p>
        <p>
            <strong>Will refreshments be provided?</strong><br />
            Yes, delegates will receive lunch and snacks throughout the day. Sadly we are restricted from running a coffee cart by the
            university but there are many cafes and coffee shops in the local area & on campus.
        </p>
        <p>
            <strong>Will wireless access be available?</strong><br />
            Probably not.
        </p>
        <p>
            <strong>Can I pay by cheque, invoice, cash, Coinye West?</strong><br />
            No - this year all payments will be via EventBrite. It's vastly easier for us as organisers to only accept payments using EventBrite, which currently doesn't allow payments to be made by Diners or rapper themed bitcoins.
            Please consider using EventBrite with your own credit card, and claiming it back on expenses.
            The cost is low, so it should easily fall within your expenses limit!
        </p>
        <p>
            <strong>Can I cancel/give my ticket to someone else?</strong><br />
            You are welcome to send someone else in your place. Please do this through the Eventbrite system.
            For help on how to do this refer to: <a href="http://help.eventbrite.com/customer/en_us/portal/articles/430100-change-the-info-on-your-order-or-ticket">http://help.eventbrite.com/customer/en_us/portal/articles/430100-change-the-info-on-your-order-or-ticket</a>
        </p>
        <p>
            <strong>When does registration open?</strong><br />
            Due to the popularity of last years event, we are running 3 separate ticket waves to give everyone an opportunity to obtain a ticket.<br/>
            Wave 1: Mon 6th June @@ 10am AEST<br/>
            Wave 2: Mon 13th June @@ 12pm AEST<br/>
            Wave 3: Mon 20th June @@ 2pm AEST<br/>
            The ticket price will stay at $49 for each wave.
        </p>
        <p>
            <strong>What is the hashtag for DDD Melbourne?</strong><br />
            The twitter hashtag will be #dddmelb.
        </p>
    </div>
    <div class="small-12 large-6 columns">
        <p>
            <strong>I want to be involved. Can I help?</strong><br />
            Thanks but we have enough assistance for running the event now. However we would love to have your session submission.
        </p>
        <p>
            <strong>How can I contact the organizers?</strong><br />
            We can be contacted via email at: <a href="mailto:dddmelbourne@gmail.com">dddmelbourne@gmail.com</a>.
        </p>
        <p>
            <strong>I would like to sponsor DDD Melbourne</strong><br />
            Great! DDD Melbourne will be heavily publized in related websites and we believe
            offers a fantastic marketing opportunity as well as the ability to support the local development
            community. We have various levels of sponsor ship available and opportunities for
            logo placement on the website, agenda, delegate slides, speaker tshirts and we are
            happy to include advertisements in delegate packs. For more information please email
            <a href="mailto:dddmelbourne@gmail.com">dddmelbourne@gmail.com</a>
        </p>

        <p>
            <strong>Who is coordinating this event?</strong><br />
            DDD Melbourne is coordinated by Oz Dev Inc, a non-profit organisation set up to improve the learnings of the Australian developer community.
        </p>

        @*<p>
            <strong>What is Lanyrd?</strong><br />
            This year we've integrated with <a href="http://lanyrd.com/2015/dddmelb/" target="_blank">Lanyrd</a> for our session and speaker details. You'll be able to track sessions, speakers and find any follow up coverage. Offline access to Lanyrd is available through their app on the <a href="https://itunes.apple.com/us/app/lanyrd/id467652813?mt=8" target="_blank">App Store</a> and the <a href="https://play.google.com/store/apps/details?id=com.lanyrd.lanyrd&hl=en" target="_blank">Google Play Store</a>.<br /><br />
            Easy sign in through Twitter, LinkedIn or username/password enables you to <a href="http://lanyrd.com/2015/dddmelb/schedule/?day=aug-08&fullscreen=1&view=grid" target="_blank">create your personal schedule</a> for the day, meet other attendees and find out about other events you may find interesting. You can still view event information even if you do not have a Twitter or LinkedIn account.
        </p>*@

        <p>
            <strong>Photography &amp; Video</strong><br />
            Attendees may be photographed or filmed by media personnel authorised by Oz Dev Inc. Attendees must inform said media personnel if they do not wish to be photographed or filmed.
        </p>

        <p>
            <strong>I would like to do this kind of thing more often</strong><br />
            Why not consider attending one of the local user groups such as:

            <ul>
                <li><a href="http://melbjs.com/">MelbJS</a> </li>
                <li><a href="http://melbourne.ozalt.net/">Alt.net</a> </li>
                <li>Vic .net (still doesnt have a website)</li>
            </ul>
        </p>
    </div>

</div>

