<div class="panel">
    <h4>Important dates</h4>
    <ul>
        <li>TBA - Call for content opens</li>
        <li>TBA - Submission closes</li>
        <li>TBA - Voting opens</li>
        <li>TBA - Voting closes</li>
        <li>TBA - Agenda published</li>
        <li>TBA - Booking opens</li>
    </ul>
</div>