<div class="panel">
    <h4>Important dates</h4>
    <ul>
        <li class="done">Mon 23rd May 09:00 - Call for content opens</li>
        <li class="done">Sun 5th June 18:00 - Call for content closes</li>
        <li>Mon 6th June 10:00 - Voting opens</li>
        <li>Mon 6th June 10:00 - Tickets wave 1 opens</li>
        <li>Mon 13th June 12:00 - Tickets wave 2 opens</li>
        <li>Mon 20th June 14:00 - Tickets wave 3 opens</li>
        <li>Mon 27th June 10:00 - Voting closes</li>
        <li>Fri 1st July - Agenda published</li>
    </ul>
</div>