<div class="panel">
    <h4>Important dates</h4>
    <ul>
        <li class="done">Fri 1st May - Call for content opens</li>
        <li class="done">Sun 7th June 18:00 - Submission closes</li>
        <li class="done">Sun 7th June 18:00 - Voting opens</li>
        <li class="done">Sun 14th June 18:00 - Voting closes</li>
        <li class="done">Sun 21st June 18:00 - Agenda published</li>
        <li class="done">Mon 29th June 12:30 - Booking opens</li>
    </ul>
</div>