<div class="copy-block row">
    <div class="large-12 columns">
        <h4>Shawn Wildermuth</h4>
    </div>

    <div class="small-2 columns">
        <img src="@Url.Content("~/Content/Images/shawn.jpg")" title="Shawn Wildermuth Profile Pic" />

    </div>
    <div class="small-10 columns">
        <p>
            <strong>Being a Better Developer: Learning Skills That Aren't On Your Resume</strong>
        </p>
        <p>

            As developers we spend a lot of time chasing technical skills like JavaScript, C++, and Angular. But the reality is that it the skills you have when you get a job are rarely the ones that you will use for your entire tenure. When I evaluate talent, I focus on the skills that don’t go well on a resume: communication, teamwork, estimation, and active listening. In this talk, I’ll delve into why these skills are crucial to being a great developer and how you acquire the skills.

        </p>

        <p>
            <em>Shawn Wildermuth is a fourteen-time Microsoft MVP (ASP.NET/IIS) and is involved with Microsoft as an ASP.NET Insider, ClientDev Insider and Windows Phone Insider. You may have taken one of his more than fifteen courses for Pluralsight (<a href="http://shawnw.me/psauthor" target="_blank">http://shawnw.me/psauthor</a>) including "Building a Web App with ASP.NET Core, MVC, EF and Angular" and "Bootstrap 3". He is also the author of eight books and dozens of articles on software development. He has been seen speaking at a variety of international conferences including TechEd, Oredev, SDC, VSLive, DevIntersection, MIX, DevTeach, DevConnections and DevReach. He is one of the Wilder Minds at <a href="http://wilderminds.com" target="_blank">http://wilderminds.com</a>. He can also be reached via his blog at <a href="http://wildermuth.com" target="_blank">http://wildermuth.com</a>.</em>
        </p>

    </div>
</div>
