<div class="copy-block row">
    <div class="large-12 columns">
        <h4>Darrel Miller</h4>
    </div>

    <div class="small-2 columns">
        <img src="@Url.Content("~/Content/Images/darrel.jpg")" title="Darrel Miller Profile Pic" />

    </div>
    <div class="small-10 columns">
        <p>
            <strong>Consuming REST APIs, for all interpretations of REST</strong>
        </p>
        <p>

            There is a growing API economy.  Almost every software business is either starting to consume APIs or produce APIs for others to consume.

            When it comes to building APIs, REST has won the popularity contest, but from a technical perspective the term has little meaning.  Everyone has their own interpretation.

            This talk will discuss how to efficiently consume an API whether it is the simplest list of HTTP endpoints with JSON payloads, or hypermedia driven using bleeding edge, content negotiated, media types.

            We will talk about how to build re-usable and resilient client code that can insulate your client application from the dreaded V2 API.

            You will hear lots of practical guidance and insight that is not commonly discussed.  Whether you are new to REST or an experienced practitioner,  I believe you will leave this talk with some fresh perspectives on the subject.

        </p>

        <p>
            <em>Darrel has been building distributed business applications on the Microsoft platform for more than 20 years. He is an active member of the .NET community and OSS contributor.  When he’s not reading IETF specifications in order to answer Stack Overflow questions, or writing tooling to help people build hypermedia driven client applications, you will find him enjoying time with his wife and daughter in Montreal, Quebec. Darrel was a member of the Microsoft Web API advisory board, is now an Azure Advisor, a Microsoft Integration MVP and co-authored the O'Reilly book, Designing Evolvable Web APIs with ASP.NET. </em>
        </p>

    </div>
</div>



<div class="copy-block row">
    <div class="large-12 columns">
        <h4>Paul Stovell</h4>
    </div>

    <div class="small-2 columns">
        <img src="@Url.Content("~/Content/Images/paul.jpeg")" title="Paul Stovell Profile Pic" />

    </div>
    <div class="small-10 columns">

        <p>
            In 2011, while stuck in a meeting, I started hacking on an idea. The idea became a prototype, and then a product. It is now used by thousands of customers around the world, and employs 8 people.
        </p>
        <p>
            In this presentation, I'll take you through the short history of Octopus Deploy, and where we are going. I'll also share some of the lessons we've learnt, and mistakes we've made, along our journey building software that is installed on-premises by thousands of customers in different environments. I'll discuss how building software as an ISV is fundamentally different to Enterprise software, and tools and approaches that you might use if you decide to start your own product company.
        </p>

        <p>
            <em>Paul Stovell is the founder of Octopus Deploy, an automated deployment tool for .NET developers. Paul started Octopus in 2011 as an attempt to help himself and other developers to more reliably and easily deploy software to production. Since then, Octopus has grown up and now helps over 2000 customers around the world to automate their deployments. Prior to Octopus, Paul worked for an investment bank in London, and in Australia for Readify, a .NET consulting firm. Paul was a Microsoft MVP from 2006 to 2014, although lately he's seen the light.</em>
        </p>


    </div>
</div>
