<div class="copy-block row sponsor-intro">
    <div class="large-12 columns">
        <h4>Sponsors</h4>
        <p>Although we will be charging delegates a fee, we are still looking for sponsorships to cover the majority of the costs. 
            This year we have 4 sponsorship tiers:</p>
    </div>
</div>
<div class="row sponsor-types">
    <div class="large-3 small-12 columns">
        <div class="panel">
            <h5>Platinum</h5>
            <p>Provide sponsorship of <strong>$6,000</strong>.</p>
        </div>
    </div>

   <div class="large-3 small-12 columns">
        <div class="panel">
            <h5>Gold</h5>
            <p>Provide sponsorship of <strong>$4,000</strong>.</p>
        </div>
    </div>
    
    <div class="large-3 small-12 columns">
        <div class="panel">
            <h5>Silver</h5>
            <p>Provide sponsorship of <strong>$2,000</strong>.</p>
        </div>
    </div>
    
    <div class="large-3 small-12 columns">
        <div class="panel">
            <h5>Standard</h5>
            <p>Provide sponsorship of <strong>$1,000 or offer prizes &amp; giveaways</strong>.</p>
        </div>
    </div>
</div>
      
  <div class="row">
    <div class="large-12 columns">  
        <p>To find out more about the sponsorships, please email <a href="mailto:dddmelbourne@gmail.com">dddmelbourne@gmail.com</a></p>
    </div>
</div>