

<div class="row">
    <div class="large-12">
        <h4>Where</h4>
        <p>
            DDD Melbourne will be held at the Monash University Caulfield Campus.<br/>
            Registration will take place in K block in the foyer space outside K3.09. <br/><br/>
            <strong>To enter K3.09</strong><br/>
            From the ground floor (level 1) use the internal stairs to level 2, at the top of the stairs turn right and walk outside.<br/>
            Turn directly right and enter through the glass doors, go up the stairs to K3.09 (level 3) and foyer space.
        </p>
        <p>
            K block looks like this<br />
            <img src="@Url.Content("~/Content/images/monash_k_block.jpg")" alt="Monash K Block" />
        </p>
        <p>
            Monash's website details the <a href="http://www.monash.edu/about/campuses/caulfield-campus/parking" target="_blank">location</a> and contains a <a href="http://www.monash.edu/__data/assets/pdf_file/0003/71688/16P-0006-T2-Caulfield-Map_Final.pdf" target="_blank">map</a> of the campus.
        </p>
    </div>
</div>


<div id="where" class="row where-grid">
        
    <div class="small-12 large-3 columns">
        <div class="blue panel shade car">
            <i></i>
            <h5>Car</h5>
        </div>
        <div class="blue panel">
            <p>
                Although parking is available around the university we recommend that delegates travel by train to Caulfield Railway Station and then walk to the university (about 2 minutes). 
            </p>
        </div>
    </div>

    <div class="small-12 large-3 columns">
        <div class="blue panel shade train">
            <i></i>
            <h5>Train</h5>
        </div>
        <div class="blue panel">
        <p>
            The nearest train station is Caulfield and Monash University is a 2 minute walk from there.
        </p>
        </div>
    </div>

    <div class="small-12 large-3 columns">
        <div class="blue panel shade tram">
            <i></i>
            <h5>Tram</h5>
        </div>
        <div class="blue panel">
        <p>
            <a href="http://ptv.vic.gov.au/route/view/761">Tram route 3</a> stops at the Caulfield station.
        </p>
        </div>
    </div>

    <div class="small-12 large-3 columns">
        <div class="blue panel shade parking">
            <i></i>
            <h5>Parking</h5>
        </div>
        <div class="blue panel">
        <p>
            Free parking is available in building J on level 4 and 5 only, by parking in the blue bays on the campus.
        </p>
        </div>
    </div>

</div>
