

<div class="row">
    <div class="large-12">
        <h4>Where</h4>
        <p>
            The venue for DDD Melbourne is TBC. 
        </p>
    </div>
</div>


<div class="row where-grid">
        
    <div class="small-12 large-3 columns">
        <div class="blue panel shade car">
            <i></i>
            <h5>Car</h5>
        </div>
        <div class="blue panel">
            <p>
                Although parking is available around the university we recommend that delegates travel by train to Glenferie Road station and then walk to the university (about 2 minutes). 
            </p>
        </div>
    </div>

    <div class="small-12 large-3 columns">
        <div class="blue panel shade train">
            <i></i>
            <h5>Train</h5>
        </div>
        <div class="blue panel">
        <p>
            The nearest train station is Glenferrie and Swinburne university is a 2 minute walk from there.
        </p>
        </div>
    </div>

    <div class="small-12 large-3 columns">
        <div class="blue panel shade tram">
            <i></i>
            <h5>Tram</h5>
        </div>
        <div class="blue panel">
        <p>
            <a href="http://www.metlinkmelbourne.com.au/route/view/724">Tram route 16</a> stops at Glenferrie Station.
        </p>
        </div>
    </div>

    <div class="small-12 large-3 columns">
        <div class="blue panel shade parking">
            <i></i>
            <h5>Parking</h5>
        </div>
        <div class="blue panel">
        <p>
            Paid car parking is available around the university & Glenferrie road. There is limited free parking on side streets around Hawthorn.
        </p>
        </div>
    </div>

</div>