@{
    ViewBag.Title = "Workshops";
}

<div class="copy-block row">
    <div class="large-12 columns">
        <h4>Workshops</h4>
    </div>
    <div class="small-12 columns">
        <p>
            This year at DDD Melbourne we will again be running a workshop track for those wanting more interactive sessions.
        </p>
        <p>
            Workshops will be operated on first come first served basis and will require attendees to bring their own equipment and any mentioned pre-reqs.
            Please note we will probably not have internet access available.
        </p>

        <hr />

        <div class="small-12 columns">
            <h5>Introduction to Property Based Testing (using F#)</h5>

            <p>Jeremy Clough [<a href="http://www.twitter.com/jhbc" target="_blank">@@jhbc</a>]</p>
            <p>Want confidence in your code but don't know how to escape the monotony of writing innumerable unit tests? Does refactoring fill you with a sense of dread when you realise the number of tests that will be impacted? Enter property based testing...</p>
            <p>Come along to learn how to test the properties of your code, and leave with a new level of confidence and satisfaction you never knew was possible.</p>
        </div>

        <hr />

        <div class="small-12 columns">
            <h5>Getting in deep with React</h5>

            <p>Aaron Powell [<a href="http://www.twitter.com/slace" target="_blank">@@slace</a>]</p>
            <p>React is still hot property when it comes to web application development and in this workshop we'll beyond your component classes and modularisation and look into some deeper dive concepts like higher order components, automated testing and Redux.</p>
        </div>

        <hr />

        <div class="small-12 columns">
            <h5>ASP.NET Core From Scratch</h5>

            <p>Shawn Wildermuth [<a href="http://www.twitter.com/ShawnWildermuth" target="_blank">@@ShawnWildermuth</a>]</p>
            <p>ASP.NET Core is the newest web framework from Microsoft. Shawn has been teaching it since early betas. In this workshop, he'll walk you through how to build an application from scratch using ASP.NET Core. It will include coverage of MVC6, Entity Framework, Identity and Building a REST Service.</p>
        </div>

        <hr />

        <div class="small-12 columns">
            <h5>Jumpstart into Virtual Actors with Orleans</h5>

            <p>Alexey Shcherbak [<a href="http://www.twitter.com/centur" target="_blank">@@centur</a>] & Reuben Bond [<a href="http://www.twitter.com/reubenbond" target="_blank">@@reubenbond</a>]</p>
            <p>You'll learn how to model and build your first app with virtual actors, host it on-prem or in a Cloud, yield the superpowers of distributed applications and make first steps to world domination.</p>
            <p></p>

            <p><strong>Pre requisites:</strong> Clone the following repo <a href="https://github.com/centur/DDDMelb2016.VirtualActors" target="_blank">https://github.com/centur/DDDMelb2016.VirtualActors</a>, and make sure you pull the latest changes before DDD Melbourne.</p>
        </div>

        <hr />
    </div>
</div>