@{
    ViewBag.Title = "Workshops";
}





<div class="copy-block row">
    <div class="large-12 columns">
        <h4>Workshops</h4>
    </div>
    <div class="small-12 columns">
        <p>
            This year at DDD Melbourne we will be running a workshop track for those wanting more interactive sessions.
        </p>
        <p>
            Workshops will be operated on first come first served basis and will require attendees to bring their own equipment and any mentioned pre-reqs.
            Please note we will probably not have internet access available.
        </p>

        <hr />

        <div class="small-2 columns">
            <img src="@Url.Content("~/Content/Images/john.jpg")" title="John Allsopp Profile Pic" />
        </div>
        <div class="small-10 columns">
            <h5>Satisfying Movements - Animating the Web with CSS and JavaScript</h5>

            <p>John Allsopp <a href="http://www.twitter.com/johnallsopp" target="_blank">@@johnallsopp</a></p>
            <p>Web based animation has arrived, and it's time for you to start taking advantage of it to engage and delight your users. And in this session we'll see how. We'll cover CSS Transitions and Animations, and throw some 2D and 3D Transforms into the mix as well, to understand how today's most common, and eye catching, animated UI design patterns can quickly be implemented in all modern browsers and devices.</p>
            <p>We'll also look at how you can control animations via JavaScript, respond to animation events, and address the thorny issue of making animations more performant, with less drain on your devices battery.</p>
            <p><strong>Pre requisites:</strong> Bring a laptop with your favourite web development tools and download the following file <a href="http://bit.ly/1IrmIoh" target="_blank">http://bit.ly/1IrmIoh</a> (4MB).</p>
        </div>

        <hr />

        <div class="small-2 columns">
            <img src="@Url.Content("~/Content/Images/troy.jpg")" title="Troy Hunt Profile Pic" />
        </div>
        <div class="small-10 columns">
            <h5>Hack Your API First</h5>

            <p>Troy Hunt <a href="http://www.twitter.com/troyhunt" target="_blank">@@troyhunt</a></p>
            <p>Last year we did "Hack Yourself First", now it’s time to move on and start breaking our APIs. Let’s face it, they’re everywhere – behind our mobile devices, driving our [thing].js apps and increasingly running behind our internet of things. Web based APIs are enormously prevalent today and with this comes risks as well. Unfortunately, our APIs are frequently vulnerable to simple attacks, often because they’re “hidden” behind client interfaces.</p>
            <p>In this workshop you’ll learn how to discover APIs behind rich client apps, intercept their communications and investigate how the app is communicating. You’ll learn how to go on the cyber-offence and hack <em>your own</em> APIs… before someone else does! You’ll need nothing more than common development tools so bring those along with your PC or Mac as well your mobile device of choice.</p>
            <p><strong>Pre requisites:</strong> Bring a laptop with either Fiddler or Charles Proxy depending on your OS of choice.</p>
        </div>

        <hr />

        <div class="small-2 columns">
            <img src="@Url.Content("~/Content/Images/brendan.jpg")" title="Brendan Forster Profile Pic" />
        </div>
        <div class="small-10 columns">
            <h5>Git</h5>

            <p>Brendan Forster <a href="http://www.twitter.com/shiftkey" target="_blank">@@shiftkey</a></p>

            <p><strong>Git Fundamentals</strong></p>
            <p>If you're brand new to Git, or just getting started, this is the workshop for you. We're going to walk through getting started with Git and learn some of the core commands that you need to be productive. No version control experience necessary.</p>
            <p><strong>Pre requisites:</strong> Bring a laptop with Git installed, so you can follow along.</p>

            <p><strong>The Zen of Git</strong></p>
            <p>If you're familiar with Git and want to dig deeper, this is the workshop for you. We'll learn a bit about some advanced Git commands, as well as cover workflows for collaborating with others and perhaps some Git internals if time permits.</p>
            <p>Note: You can totally corner me at the after-party if you have specific Git questions you’d like to corner me about. Just as long as we talk about it over a beer.<p>
            <p><strong>Pre requisites:</strong> Bring a laptop with Git installed, so you can follow along. Have some local repositories to experiment with, as we may not have WiFi at the venue.</p>
        </div>

        <hr />

        <div class="small-2 columns">
            <img src="@Url.Content("~/Content/Images/andrew.jpg")" title="Andrew Fisher Profile Pic" />
        </div>
        <div class="small-10 columns">
            <h5>NodeBots - Using JavaScript to build connected hardware</h5>

            <p>Andrew Fisher <a href="http://www.twitter.com/ajfisher" target="_blank">@@ajfisher</a></p>

            <p>Besides being able to build robots, the NodeBots framework is really an abstraction of common hardware in JavaScript - providing us a ultitude of sensors, actuators and boards to create physical objects controlled by JS. Given how easy it is to use JS to glue systems and APIs together, this workshop will guide you through building your first internet connected "thing".</p>
            <p>The session will comprise an introduction to the JS Hardware stack and then ensure your development environment is up and running. From there we'll look at consuming a common API and using information within it to actuate a physical object with LEDs or Servos.</p>
            <p>After that, we'll flip the perspective and look at how we can put sensors into the environment and then use JS to get and interpret data about our surroundings.</p>
            <p>This session is aimed at those who have got a good JS background and have an interest in connected physical objects. Electronics skills are not assumed, there will be no soldering during the session and all kit will be provided.</p>

            <p><strong>Pre requisites:</strong> Clone the following repo <a href="https://github.com/ajfisher/dddworkshop" target="_blank">https://github.com/ajfisher/dddworkshop</a>, complete the instructions on <a href="https://github.com/ajfisher/dddworkshop#installation" target="_blank">https://github.com/ajfisher/dddworkshop#installation</a> and finally make sure you pull the latest changes the day before DDD.</p>
        </div>

        <hr />
    </div>
</div>