@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="copy-block row">
    <div class="large-8 columns">
        <h4>Votes submitted successfully!</h4>

        <p>
            Thank you for telling us the sessions you want to see.
        </p>
    </div>
    
</div>
