@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "BlankLayout.cshtml";
    ViewBag.Title = "Error";
}

<div class="error">
    <h1 class="error">Error</h1>
    <h2 class="error">An error occurred while processing your request.</h2>
</div>
