@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Not Found";
}

<div class="error">
    <h1 class="error">Not Found.</h1>
    <h2 class="error">Sorry this page could not be found.</h2>
    <p>
        @Html.ActionLink("Back to home page", "Index", "Main", null, new { @class = "button" })
    </p>
</div>
